<div class="row" style="padding-top: 10%">
  <div class=" push-1 col-5 px-0" style="display: block;">
    <p><strong>Biểu đồ chi tiêu trong tháng</strong></p>
    <br>
    <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="reportByMonth"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale"
    (select)="onSelect($event)">
    </ngx-charts-line-chart>
  </div>

  <div class="push-1 col-5">
      <p><strong>Biểu đồ chi tiêu trong năm</strong></p>
      <br>
    <div style="display: block">
      <ngx-charts-bar-horizontal-2d
      [view]="view"
      [scheme]="colorScheme"
      [results]="reportByYear"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="Month"
      [yAxisLabel]="Amount"
      (select)="onSelect($event)">
    </ngx-charts-bar-horizontal-2d>
    </div>
  </div>
</div>