.app-content {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }
  
  mat-sidenav {
    width: 30%;
  }
  
  mat-icon {
    font-size: 50px;
    height: inherit;
    width: inherit;
  }
  
  mat-nav-list {
    text-align: center;
  }
  
  mat-nav-list a .mat-list-item-content {
    display: block;
  }
  
  mat-toolbar{
    height: 62px;
  }