body {
   font-family: Roboto, Arial, sans-serif;
   width: 50%; 
   margin-left: 25%;
   margin-top: 5%;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
mat-form-field {
  width: 100%;
}
h3{
  text-align: center;
}
button{
  margin-top: 3%;
  margin-left: 23%;
}